{
  "localCaTrustPath": "/path/to/ceremony/output/credo-catrust.pem",
  "shepherd": {
    "host": "deploy@10.4.1.10",
    "remoteDir": "/var/apps/credo/shepherd",
    "sshPort": 22,
    "rustTarget": "x86_64-unknown-linux-musl",
    "rustProfile": "release",
    "sudoRsync": true,
    "remoteUser": "shepherd",
    "remoteGroup": "shepherd",
    "serviceName": "credo-shepherd"
  },
  "vigil": {
    "host": "deploy@10.4.1.10",
    "remoteDir": "/var/apps/credo/vigil",
    "sshPort": 22,
    "rustTarget": "x86_64-unknown-linux-musl",
    "rustProfile": "release",
    "sudoRsync": true,
    "remoteUser": "vigil",
    "remoteGroup": "vigil",
    "serviceName": "credo-vigil"
  },
  "dashboard": {
    "host": "deploy@10.4.1.10",
    "remoteDir": "/var/apps/credo/dashboard",
    "sshPort": 22,
    "sudoRsync": true,
    "remoteUser": "dashboard",
    "remoteGroup": "dashboard",
    "serviceName": "credo-dashboard"
  },
  "corgis": [
    {
      "name": "corgi-01",
      "host": "deploy@10.4.1.10",
      "remoteDir": "/var/apps/credo/corgi",
      "sshPort": 22,
      "rustTarget": "x86_64-unknown-linux-musl",
      "rustProfile": "release",
      "sudoRsync": true,
      "loginAsRoot": false,
      "remoteUser": "corgi",
      "remoteGroup": "corgi",
      "serviceName": "credo-corgi"
    },
    {
      "name": "corgi-03",
      "host": "root@10.4.1.3",
      "remoteDir": "/var/apps/credo/corgi",
      "sshPort": 22,
      "rustTarget": "armv7-unknown-linux-musleabihf",
      "rustProfile": "release",
      "sudoRsync": false,
      "loginAsRoot": true,
      "remoteUser": "corgi",
      "remoteGroup": "corgi",
      "serviceName": "credo-corgi"
    }
  ]
}
